/* Generic Selectors */

body {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 14px;
   color: #333333;
   background-color: #F9F9F9;
}

p {
   width: 80%;
}

li {
   list-style-type: none;
   line-height: 150%;
   list-style-image: url(../images/arrowSmall.gif);
}

h1 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 18px;
   font-weight: bold;
   color: #000000;
}

h2 {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size: 16px;
   font-weight: bold;
   color: #000000;
   border-bottom: 1px solid #C6EC8C;
}

/**************** Pseudo classes ****************/

a:link {
   color: #00CC00;
   text-decoration: underline;
   font-weight: bold;
}

li :link {
   color: #00CC00;
   text-decoration: none;
   font-weight: bold;
}

a:visited {
   color: #00CC00;
   text-decoration: underline;
   font-weight: bold;
}

li a:visited {
   color: #00CC00;
   text-decoration: none;
   font-weight: bold;
}

a:hover {
   color: rgb(0, 96, 255);
   padding-bottom: 5px;
   font-weight: bold;
   text-decoration: underline;
}

li a:hover {
   display: block;
   color: rgb(0, 96, 255);
   padding-bottom: 5px;
   font-weight: bold;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #C6EC8C;
}

/************************* ID's *************************/

#Nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#Nav a{
    flex: 1 auto;
    border: 1px solid lightgray;
	text-decoration: none;
}

#Nav a:hover{
    background: rgb(42, 177, 123);
    background: -webkit-linear-gradient(45deg, #2baa99 0%,#2ab17b 100%);
    background: linear-gradient(45deg, #2baa99 0%,#2ab17b 100%);
    color: white;
}

#Nav a p{
    text-align: center;
    margin: 5px 30px;
}


#centerDoc {
   position: absolute;
   padding: 0 0 20px 0; /*top right bottom left*/
   margin-top: 50px;
   margin-left: 235px;
}

/**********************Custom Classes*******************/

.flex-center{
    width: 100%;
    text-align: center;
}

.flex-left{
    flex: 1 1 auto;
    order: 1;
    width: 50%;
}

.flex-right{
    flex: 1 1 auto;
    order: 2;
    width: 50%;
}

.flex-left img{
	display:block;
	margin:auto;
}

.flex-right img{
	display:block;
	margin:auto;
}
