/**************** Pseudo classes ****************/
a:hover {
   color: rgb(0, 96, 255);
   font-weight: bold;
}

li :link {
   color: #000000;
   text-decoration: none;
   font-weight: bold;
}

li a:visited {
   color: #000000;
   text-decoration: none;
   font-weight: bold;
}

li a:hover {
   display: block;
   color: rgb(0, 96, 255);
   padding-bottom: 5px;
   font-weight: bold;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #C6EC8C;
}

.flex-center{
    width: 100%;
    text-align: center;
}

.flex-left{
    flex: 1 1 auto;
    order: 1;
    width: 50%;
}

.flex-right{
    flex: 1 1 auto;
    order: 2;
    width: 50%;
}

.flex-left img{
	display:block;
	margin:auto;
}

.flex-right img{
	display:block;
	margin:auto;
}
